apiVersion: v1
kind: Service
metadata:
  name: phoenix-service
  namespace: my-app
  labels:
    app: phoenix
spec:
  type: LoadBalancer
  ports:
    - port: 4000
      targetPort: 4000
      protocol: TCP
      name: http
  selector:
    app: phoenix
